<footer>
  <div class="p-5 bg-light" >
    <h5 class="text-capitalize" >get the freshCart app</h5>
    <p class="text-capitalize text-muted" >we will send you a link, open it onyour phone to download the app </p>
    <div>
      <div class="row border-bottom">
        <div class="col-md-10">
          <div class="ms-3 mb-3">
            <input type="email" class="form-control"  placeholder="Email ..">
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <button class="btn-main text-capitalize " >share app link</button>
          </div>
        </div>
      </div>
      <div class="m-3  d-flex align-items-center justify-content-between border-bottom">
        <div>
          <p class="text-capitalize" >payment partners <img src="./assets/images/master.svg" alt=""> <img src="./assets/images/visa-1.svg" alt=""> <img src="./assets/images/visa.svg" alt=""> </p>
        </div>
        <div>
          <p class="text-capitalize" >get deliveries with freshCart <img src="./assets/images/app-store.svg" width="40" height="40" alt=""> <img src="./assets/images/google-store.svg" width="40" height="40" alt=""> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
